@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;700&display=swap');


body {
    background-color: #EDDDD4;
    font-family: 'Manrope', sans-serif;
    margin: 0 auto;
}

.two-column-wrapper {
    display:flex;
    align-items:center;
    flex-direction: row;
    justify-content: center;

    margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.left-side {
    display: flex;
    flex-direction: column;
    flex: 2;
    margin-right: 50px;
}

.right-side {
    display: flex;
    flex-direction: column;
    color: #EDDDD4;
    flex: 3;
    width: 630px;
}

.bio {
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid black;
    width: 410px;
    align-items: center;
    justify-content: space-between;
}

.name {
    font-weight: 700;
    font-size: 60px;
    margin: 0;
    margin-bottom: 5px;
    width: auto;
}

.bio-info {
    font-size: 24px;
    width: 230px;
}

.profile {
    border-radius: 50%;
}

.go-to-button {
    font-size: 19px;
    font-weight: 700;
    background: #283D3B;
    border-radius: 27px;
    padding: 17px;
    width: 250px;
    text-align: center;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);

}

a {
    text-decoration: none;
}

a:link, a:visited {
    color: #EDDDD4;
}

a:hover {
    color: #C44536;
}

.top-row-school {
    display: flex;
}

.school-icons {
    display: flex;
    justify-content: space-between;
    width: auto;
}

.icon {
    display: flex;
    flex-direction: column;
    color: black;
    width: 140px;
    align-items: center;
    text-align: center;
}

.top-row-school img, .rounded-paragraph {
    border-radius: 28px;
}

.rounded-paragraph {
    text-align: center;
}

.red {
    background-color: #C44536;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);

}

.turquoise {
    background-color: #197278;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);
}

#fun-fact {
    width: 143px;
    height: 207px;
    margin: 26px;
    padding: 40px 26px 26px 26px;
}

#msu {
    margin: 26px 0px 26px 26px;
}

#school-info {
    width: auto;
    height: 170px;
    margin: 0px 26px 0px 26px;
    padding: 26px;
}

#favorite-courses {
    background-color: #283D3B;
    font-weight: 700;
    width: 300px;
    height: 42px;
    line-height: 42px;
    border-radius: 27px;
    text-align: center;
    margin-left: 26px;
    margin-top: 26px;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.5);

}

.work-info {
    width: auto;
    height: 160px;
    padding: 26px;
    margin-bottom: 26px;
    border-radius: 27px;
}

.work-info p:nth-child(1) {
    font-weight: 700;
    font-size: 25px;
    margin: 0;
}

.work-info p:nth-child(2) {
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.work-info p:nth-child(3) {
    font-size: 15px;
    margin: 10px 0px 0px 0px;
}

#other-exp {
    padding: 15px;
    padding-top: 50px;
    width: 130px;
    height: 90px;
    margin: 0;
    vertical-align: middle;
    font-weight: 700;
}

#work-top {
    color: black;
    font-size: 14px;
    text-align: center;
    margin: 10px;
}
