<div class="right-side">
    <div id="work-top">
      <p>I have been fortunate enough to have two software engineering summer internships during college. They have been opportunities to learn what I do and don’t like about tech, and what I would possibly want to pursue in the future. Below are some of the projects I worked on and positions I held, both at Cigna as part of their Technology Early Career Development Program.</p>
    </div>
    <div class="red work-info">
        <p>Frontend Engineering Intern</p>
        <p>Summer 2021</p>
        <p>I worked on the Analytics Platform for Cigna employees. Employees could visit the platform and get access to data analysis tools, as well as learn more about their use cases. I worked on the frontend experience for existing users of the platform using Angular and Python, and developed using an Agile methodology.</p>
    </div>
    <div class="red work-info">
        <p>Application Development Intern</p>
        <p>Summer 2020</p>
        <p>I worked on an application called “The Doctor” which monitored the “health” of other Cigna applications using automation. I used JavaScript and graphing libraries to take in data from The Doctor and create graphical representations. I also got a glimpse into what machine learning is and how it works on a small scale.</p>
    </div>
    <div class="school-icons">
      <div>
        <p class="rounded-paragraph turquoise" id="other-exp">other work experiences -></p>
      </div>
      <div class="icon">
        <img src="assets/ula.png" alt="Icon representing Undergraduate Learning Assistant" width="100" height="100">
        <p>Undergraduate Learning Assistant</p>
      </div>
      <div class="icon">
        <img src="assets/recruitment.png" alt="Icon representing Recruitment" width="100" height="100">
        <p>K-12 Recruitment Ambassador</p>
      </div>
      <div class="icon">
        <img src="assets/girlswhocode.png" alt="Icon representing Girls Who Code" width="100" height="100">
        <p>Mentor for Girls Who Code</p>
      </div>
    </div>
</div>