<div class="two-column-wrapper">
  <!-- Will act as the "logo" of the site with name, picture -->
  <div class="left-side">
      <p class="name">Sophie Martin</p>
      <div class="bio">
        <p class="bio-info">A senior at Michigan State University studying Computer Science.</p>
        <img class="profile" src="assets/profile-picture.jpg" alt="Picture of Sophie" width="140" height="140">
      </div>
      <p class="go-to-button">go to work experience -></p>
  </div>
  <div class="right-side">
      <p>right side</p>
  </div>
</div>