<div class="right-side">
    <div class="top-row-school">
      <img src="assets/msu.jpg" alt="Picture of MSU stadium" width="458" height="273" id="msu">
      <p class="rounded-paragraph turquoise" id="fun-fact">Fun Fact: The first language I ever learned to program in was HTML in an Intro to Web Design course my freshman year of high school!</p>
    </div>
    <div class="rounded-paragraph red" id="school-info">
      I have gained a wide array of experiences by being a CSE student at Michigan State University. I started my education with intro courses that taught me new languages, like Python and C++. As I went through sophomore and junior year, I learned more fundamental information about data structures, algorithms, and object oriented programming. Now -- as a senior -- I have gotten to learn about many facets of tech, including data science, databases, web design, and advanced algorithms.
    </div>
    <div>
      <p id="favorite-courses">My favorite courses include...</p>
    </div>
    <div class="school-icons">
      <div class="icon">
        <img src="assets/web_design_icon.png" alt="Icon representing Web Design" width="100" height="100">
        <p>Web Application Development</p>
      </div>
      <div class="icon">
        <img src="assets/oop_icon.png" alt="Icon representing Object Oriented Programming" width="100" height="100">
        <p>Object Oriented Programming</p>
      </div>
      <div class="icon">
        <img src="assets/big_data_icon.png" alt="Icon representing Big Data Analysis" width="100" height="100">
        <p>Big Data Analysis</p>
      </div>
      <div class="icon">
        <img src="assets/algorithm_icon.png" alt="Icon representing Algorithms" width="100" height="100">
        <p>Algorithm Engineering</p>
      </div>
    </div>
</div>